body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  img {
    width: 100px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  place-items: center;
}

main {
  background: rgb(231, 7, 105);
  background: radial-gradient(
    circle,
    rgba(231, 7, 105, 1) 0%,
    rgba(4, 235, 208, 1) 100%
  );
  color: white;
  height: 70vh;
  display: grid;
  place-items: center;
  justify-content: center;
}

form {
  border: 1px solid rgb(231, 229, 229);
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    font-size: inherit;
    background-color: transparent;
    color: white;
  }
  input {
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    min-width: 50ch;
  }
}
